#cuprinsSlideContainer {
    animation-delay: 0.5s;
    background-color: black;
    color: white;
    display: flex;
    float: left;
    font-family: "ralewayregular";
    height: 100%;
    position: fixed;
    z-index: 50;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#slider {
    border-left: 1px solid #2d2d2d;
    cursor: pointer;
    font-size: 21px;
    height: 100%;
    text-align: center;
    transform: rotate(180deg);
    width: 30px;
    writing-mode: vertical-rl;
}

#cuprins {
    display: flex;
    flex-direction: column;
    padding: 15vh 50px 15vh 15px;
}

.textCuprins {
    color: white;
    margin: auto;
    padding: 1vh 1vw;
    text-decoration: none;
}

#back {
    border-top: 1px solid white;
    flex-basis: 5vh;
    padding: 15px 0;
}