@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
    url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body {
    background-color: black;
    margin: 0;
    overflow: auto;
    padding: 0;
}

body {
    background-color: white;
    color: black;
    font-family: "ralewayregular";
    overflow-x: hidden;
}

.simplebar-mask {
    max-width: 101% !important;
    width: 101% !important;
}

.simplebar-content {
    padding-right: 20px !important;
}

#preloaderContainer {
    animation-duration: 0.5s;
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

#preloader {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -75%);
    z-index: 1001;
}

#start {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 111vh;
    margin: 0 0 -5px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#upperStart {
    padding-top: 30vh;
}

#startTitle {
    color: white;
    font-size: 6vh;
    margin: 0 0 6vh 0;
    text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}

#bottomPart {
    flex-grow: 1;
}

.noTransition {
    transition: none !important;
}

.contentDiv {
    box-sizing: border-box;
    color: black;
    padding: 5vh 15vw;
    text-align: justify;
    width: 100%;
}

.spacerContainer {
    height: 55vh;
    margin: -5px 0;
    position: relative;
}

.spacers {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    height: 55vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

.spacerTrianglesTL {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid;
    border-width: 10vh 100vw 0 0;
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 15;
}

.spacerTrianglesTR {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    border-left-color: transparent !important;
    border-style: solid;
    border-top-color: transparent !important;
    border-width: 0 100vw 10vh 0;
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    z-index: 15;
}

.spacerTrianglesBR {
    background-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-style: solid;
    border-top-color: transparent !important;
    border-width: 0 0 10vh 100vw;
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 15;
}

.spacerTrianglesBL {
    background-color: transparent !important;
    border-bottom-color: transparent !important;
    border-color: transparent;
    border-style: solid;
    border-top-color: transparent !important;
    border-top-color: transparent !important;
    border-width: 10vh 0 0 100vw;
    bottom: 0;
    box-sizing: border-box;
    display: inline-block;
    height: 0;
    position: absolute;
    right: 0;
    width: 0;
    z-index: 15;
}

#imagePreloader {
    height: 1px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -2;
}

@media screen and (min-height: 1081px) {
    #start, .spacers {
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
    }
}