#outerContainerPersonaje {
    height: auto;
    padding: 15px 0;
    width: 100%;
}

#outerContainerPersonaje h2 {
    text-align: center;
}

.containerPersonaje {
    box-sizing: border-box;
    margin: 35px 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.personaje {
    height: 100%;
    padding: 35px 35px;
    width: 22vw;
    cursor: pointer;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.extinderePersonajeContainer {
    box-sizing: border-box;
    height: 100%;
    text-align: justify;
    padding-right: 5px;
}

.extinderePersonaj {
    box-sizing: border-box;
    height: 100%;
    padding: 35px 35px;
    width: 40vw;
}

.extinderePersonajSubcontainer {
    box-sizing: border-box;
    height: 100%;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    width: 35vw;
}

.personaje img {
    max-height: 100%;
    max-width: 100%;
}
