<div id="start">
    <div id="upperStart">
        <p id="startTitle">La hanul lui Mânjoală</p>
    </div>
    <div id="bottomPart">
    </div>
    <div class="spacerTrianglesBR normalBackgroundColor"></div>
</div>

<div class="normalBackgroundColor" style="margin-top: -5px">
    <div id="titlu" class="contentDiv" data-aos="zoom-in"></div>
</div>

<div class="spacerContainer">
    <div class="spacerTrianglesTR normalBackgroundColor"></div>
    <div id="spacer1" class="spacers"></div>
    <div class="spacerTrianglesBL normalBackgroundColor"></div>
</div>


<div class="normalBackgroundColor">
    <div id="tema" class="contentDiv" data-aos="zoom-in"></div>
</div>

<div class="spacerContainer">
    <div class="spacerTrianglesTL normalBackgroundColor"></div>
    <div id="spacer2" class="spacers"></div>
    <div class="spacerTrianglesBR normalBackgroundColor"></div>
</div>

<div class="normalBackgroundColor">
    <div id="actiune" class="contentDiv" data-aos="zoom-in"></div>
</div>

<div class="spacerContainer">
    <div class="spacerTrianglesTR normalBackgroundColor"></div>
    <div id="spacer3" class="spacers"></div>
    <div class="spacerTrianglesBL normalBackgroundColor"></div>
</div>

<div class="normalBackgroundColor">
    <div id="perspectivaNarativa" class="contentDiv" data-aos="zoom-in"></div>
</div>

<div class="spacerContainer">
    <div class="spacerTrianglesTL normalBackgroundColor"></div>
    <div id="spacer4" class="spacers"></div>
    <div class="spacerTrianglesBR darkerBackgroundColor"></div>
</div>

<div id="graph"></div>

<div class="spacerContainer">
    <div class="spacerTrianglesTR darkerBackgroundColor"></div>
    <div id="spacer5" class="spacers"></div>
    <div class="spacerTrianglesBL darkerBackgroundColor"></div>
</div>

<div id="outerContainerPersonaje"></div>

<script>
    addCuprinsSlider(true);

    var backgroundList = [0, 1, 2, 3, 4];
    backgroundList = shuffleArray(backgroundList);
    $("#start").css("background-image", "url(../images/" + $("body").attr("id").replace("Body", '') + "/backgrounds/start.jpg)");

    addRezumat();

    for (let i = 1; i <= $(".spacers").length; ++i)
    {
        addBackground($("#spacer" + i), backgroundList);
    }

    $.get("texts/laHanulLuiManjoala/rezumat.html", function (data)
    {
        $("#rezumatText").append(data);
    });
    $("#titlu").load("texts/laHanulLuiManjoala/titlu.html");
    $("#tema").load("texts/laHanulLuiManjoala/tema.html");
    $("#actiune").load("texts/laHanulLuiManjoala/actiune.html");
    $("#perspectivaNarativa").load("texts/laHanulLuiManjoala/perspectivaNarativa.html");
    addGraph("graph");
    addPersonaje();
    AOS.refresh();
</script>